@page "/shipments"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using LiveDashboard.Shared
@using LiveDashboard.Client.ViewModels.Shipments
@inject HttpClient Http

<h1>Shipments</h1>

<a @onclick="LoadMoreShipments" class="btn btn-primary">Load More</a>

@if (model == null || model.Shipments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Origin</th>
                <th>Destination</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shipment in model.Shipments)
            {
                <tr>
                    <td>@shipment.Id</td>
                    <td>@shipment.OriginAddress.Label</td>
                    <td>@shipment.DestinationAddress.Label</td>
                </tr>
            }
        </tbody>
    </table>

}


@code {

    private IndexViewModel model;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            model = await Http.GetFromJsonAsync<IndexViewModel>("Shipment");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    public async Task LoadMoreShipments()
    {
        var response = await Http.PostAsync("Shipment", null);
        var shipments = await response.Content.ReadFromJsonAsync<List<ShipmentViewModel>>();
        model.Shipments.AddRange(shipments);
    }

}
